# 1. Зависимости (Самое важное! Это весит сотни мегабайт)
node_modules/

# 2. Системные файлы (особенно для Mac, так как у тебя macOS)
.DS_Store
Thumbs.db

# 3. Логи и ошибки npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# 4. Настройки IDE (чтобы твои личные настройки редактора не улетели в общий код)
.idea/
.vscode/
*.swp
*.swo

# 5. Сборка и покрытие тестами (на будущее)
dist/
build/
coverage/

# 6. Переменные окружения (если будут секретные ключи)
.env
.env.local